<section class="content-header">
    <h1>
        Company Management
    </h1>
    <ol class="breadcrumb">
        <li><a href="index/dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="index/dashboard">Settings</a></li>
        <li class="active">Survey Management</li>
    </ol>
</section>

<section class="content">
    <div class="box-body" *ngIf="showSearchGrid">
        <button class="btn btn-primary btn-xs" (click)="addCompany()" [hidden]="companyObj.length>0">Add
            Company</button>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box" *ngIf="showSearchGrid">
                <div class="box-body">
                    <div class="col-xs-1">
                        <label>Search</label>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" size="100" id="Text17" placeholder="Enter search" trim>
                    </div>
                </div>

                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Company Name</th>
                                <th>Company Logo</th>
                                <th>Created On</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cmpny of companyObj;  let i=index">
                                <td class="sorting_1">{{i+1}}</td>
                                <td>{{ cmpny.CompanyName }}</td>
                                <td><a href="{{cmpny.UrlPath + cmpny.CompanyLogo}}" target=_blank> Logo</a></td>
                                <td>{{ cmpny.CreationDate | date : 'dd-MMM -yyyy' }}</td>
                                <td>
                                    <button class="btn btn-primary btn-xs"
                                        (click)="editTransaction(cmpny)">Edit</button>
                                    |
                                    <button [disabled]="Role!='SuperAdmin'" class="btn btn-warning btn-xs"
                                        (click)="deleteTransaction(cmpny)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box" *ngIf="showForm">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-4">
                                <label>Company Name<label style="color:red">*</label> </label>
                                <input type="text" class="form-control" placeholder="Survey Title"
                                    [(ngModel)]="company.CompanyName" trim>
                            </div>
                            <div class="col-xs-4">
                                <label>Company Logo<label style="color:red">*</label> </label>
                                <input type="file" class="form-control" (change)="onFileSelected($event)"  />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-5">
                                <button class="btn btn-primary btn-xs" (click)="saveForm()">Submit</button>
                                
                                <button class="btn btn-warning btn-xs" (click)="init()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box" *ngIf="showEditForm">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-4">
                                <label>Company Name<label style="color:red">*</label> </label>
                                <input type="text" class="form-control" placeholder="Survey Title"
                                    [(ngModel)]="company.CompanyName" trim>
                            </div>
                            <div class="col-xs-4">
                                <label>Company Logo<label style="color:red">*</label> </label>
                                <input type="file" class="form-control" (change)="onFileSelected($event)" />
                            </div>
                            <div class="col-xs-4">
                                <a href={{company.UrlPath+company.CompanyLogo}} target=_blank> Logo </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-5">
                                <button class="btn btn-primary btn-xs" (click)="editSaveTransaction()">Update</button>

                                <button class="btn btn-warning btn-xs" (click)="init()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>