
    <div class="row">

        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="info-box">
                <span class="info-box-icon bg-red"><img src="../../../../assets/img/surveysent.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{TOTALCOMPLAINTSLabel}}</span>
                    <span class="info-box-number">{{totalComplaints}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><img src="../../../../assets/img/surveysent.png"></span>

                <div class="info-box-content">
                    <span class="info-box-text">{{COMPLAINTSRESOLVEDLabel}}</span>
                    <span class="info-box-number">{{resolvedComplaint}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="info-box">
                <span class="info-box-icon bg-red"><img src="../../../../assets/img/surveysent.png"></span>

                <div class="info-box-content">
                    <span class="info-box-text">{{COMPLAINTSPENDINGLabel}}</span>
                    <span class="info-box-number">{{pendingComplaints}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><img src="../../../../assets/img/surveysent.png"></span>

                <div class="info-box-content">
                    <span class="info-box-text">{{DISTRIBUTORCOMPLAINTSLabel}}</span>
                    <span class="info-box-number">{{distributorComplaints}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        </div>