<div class="row">
    <div class="row" *ngIf="Survey">
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-for-5 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><img src="../../../../assets/img/service.png" width="25"></span>
                <div class="info-box-content">
                    <span class="info-box-number">Service Done - {{dashCountersDtl.ServiceDone}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-for-5 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><img src="../../../../assets/img/surveysent.png"
                        width="25"></span>
                <div class="info-box-content">
                    <span class="info-box-number">Survey Sent - {{dashCountersDtl.SurveySentCount +
                        dashCountersDtl.SurveySubmittedTelephonic}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-for-5 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><img src="../../../../assets/img/surveycompleted.png" width="21">
                </span>
                <div class="info-box-content">
                    <span class="info-box-number">Survey Completed - {{dashCountersDtl.SurveyCompltedCount}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-for-5 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><img src="../../../../assets/img/csi.png" width="21"></span>
                <div class="info-box-content">
                    <span class="info-box-number">CSI - {{CSISurvey.CSI*100 | number}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <!-- /.col -->
        <!-- /.col -->
    </div>
    <div class="row" *ngIf="Instant">
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-for-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><img src="../../../../assets/img/service.png" width="60"></span>
                <div class="info-box-content">
                    <span class="info-box-number">Service Done - {{dashCountersDtl.ServiceDone}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-for-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><img src="../../../../assets/img/feedback.png" width="60"></span>
                <div class="info-box-content">
                    <span class="info-box-number">Feedback Captured - {{dashCountersDtl.SurveySubmittedInstant}} </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-for-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="../../../../assets/img/satisfied.png" width="60"></span>

                <div class="info-box-content">

                    <span class="info-box-number">Satisfied - {{dashCountersDtl.SatisfiedInsFeedback}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-for-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><img src="../../../../assets/img/dissatisfied.png" width="60"></span>

                <div class="info-box-content">

                    <span class="info-box-number">Dissatisfied - {{dashCountersDtl.DisSatisfiedInsFeedback}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-for-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><img src="../../../../assets/img/csi.png" width="21"></span>
                <div class="info-box-content">

                    <span class="info-box-number">CSI - {{CSI.CSI*100 | number}}</span>
                </div>

                <!-- /.info-box -->
            </div>
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <!-- /.col -->
        <!-- /.col -->
    </div>
</div>