<section class="content-header">
    <h1>
        {{ChangePasswordLabel}}
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-4">
                                <label>{{CurrentPasswordLabel}}<label style="color:red">*</label> </label>
                                <input type="password" class="form-control" placeholder="Enter current password"
                                    [(ngModel)]="currentPassword" trim>
                            </div>
                            <div class="col-xs-4">
                                <label>{{NewPasswordLabel}}<label style="color:red">*</label> </label>
                                <input type="password" class="form-control" placeholder="Enter new password"
                                    [(ngModel)]="newPassword" trim>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-5">
                                <button class="btn btn-primary btn-xs"
                                    (click)="saveForm()">{{UpdatePasswordLabel}}</button>
                                <button class="btn btn-warning btn-xs" (click)="back()">{{BackLabel}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>