<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body" style="overflow-x:auto;max-height:92vh;overflow:scroll">
                    <table id="example2" class="table table-bordered table-hover" style="overflow-x:auto">
                        <thead>
                            <tr style="background-color:cornflowerblue;color:white">
                                <th>Service Advisor</th>
                                <th>Technician</th>
                                <th colspan="2">Average Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pt of savedFormArray">
                                <td>{{pt.ServiceAdvisor}}</td>
                                <td>{{pt.Technician}}</td>                          
                                <td style="text-align:left">
                                    {{pt.AnswerAvg | number}}
                                </td>
                                <td *ngIf="pt.AnswerAvg>7.9">
                                    <img src="http://suzuki-feedback.com/Uploaded/1.png" style="height: 18px; width: 18px;" />
                                </td>
                                <td *ngIf="pt.AnswerAvg<8">
                                    <img src="http://suzuki-feedback.com/Uploaded/3.png" style="height: 18px; width: 18px;" />
                                </td>
                            </tr>
                    </table>
                    <table id="example2" class="table table-bordered table-hover" style="overflow-x:auto">
                        <thead>
                            <tr style="background-color:cornflowerblue;color:white">
                                <th>Question</th>
                                <th>Response</th>                          
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pt of savedFormArray[0].info">
                                <td>{{pt.Question}}</td>
                                <td>{{pt.Answer}}</td>                            
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>