<section class="content-header">
    <h1>
       Dealer Outlet Mapping
    </h1>
    <ol class="breadcrumb">   
    </ol>
</section>
<section class="content">
    <div class="box-body" *ngIf="showSearchGrid">
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="box" *ngIf="showSearchGrid">
                <div class="box-body">
                    <div class="col-xs-1">
                        <label>Search</label>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" size="100" id="Text17"
                               [(ngModel)]="searchText" placeholder="Enter search" trim>
                    </div>
                </div>
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Dealer</th>
                                <th>Code</th>
                                <th>Outlet Name</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pt of outletObj | filter:searchText ;let i=index;">
                                <td class="sorting_1">{{ i + 1 }}</td>
                                <td>{{ pt.DealerName}}</td>
                                <td>{{ pt.OutletCode}}</td>
                                <td>{{ pt.OutletName}}</td>
                                <td>{{ pt.OutletAddress}}</td>
                                <td>
                                    <button class="btn btn-primary btn-xs" (click)="editTransaction(pt)">Edit</button>
                               </td>
                            </tr>
                      </tbody>
                    </table>
                </div>
            </div>

            <div class="box" *ngIf="showEditForm">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-4">
                                <label>Dealer <label style="color:red">*</label></label>
                                <select name="Language" class="form-control selectpicker"
                                        [(ngModel)]="outlet.Dealer_Id" (change)="getCountryFromDealer(outlet.Dealer_Id)" disabled >
                                        <option *ngFor="let DC of dealerObj" [value]="DC.Dealer_Id">
                                            {{DC.DealerName}}
                                        </option>
                                    </select>

                            </div>
                            <div class="col-xs-4">
                                <label>Outlet Code <label style="color:red">*</label></label>
                                <input type="text" class="form-control" disabled maxlength="20" placeholder="Outlet Code" [(ngModel)]="outlet.OutletCode" trim>
                            </div>
                            <div class="col-xs-4">
                                <label>Outlet Name <label style="color:red">*</label></label>
                                <input type="text" class="form-control" disabled   maxlength="200" placeholder="Outlet Name" [(ngModel)]="outlet.OutletName" trim>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-4">
                                <label>OutLet Type<label style="color:red">*</label> </label>
                                <select name="Language" class="form-control selectpicker"
                                        [(ngModel)]="outlet.OutletType_Id" disabled>
                                        <option *ngFor="let DC of outletTypeObj" [value]="DC.OutLetType_Id">
                                            {{DC.OutletType}}
                                        </option></select>

                            </div>
                            <div class="col-xs-4">
                                <label>Address<label style="color:red">*</label> </label>
                                <textarea [(ngModel)]="outlet.OutletAddress" class="form-control" trim disabled></textarea>

                            </div>
                            <div class="col-xs-4">
                                <label>Contact Person<label style="color:red">*</label> </label>
                                <input type="text" class="form-control" maxlength="100" placeholder="Contact Person" [(ngModel)]="outlet.OutletContactPerson" trim disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-4">
                                <label>Email<label style="color:red">*</label> </label>
                                <input type="text" class="form-control" disabled maxlength="200" placeholder="Email" [(ngModel)]="outlet.OutletEmail" trim>
                            </div>
                            <div class="col-xs-4">
                                <label>Contact Number<label style="color:red">*</label> </label>
                                <input type="text" digitOnly maxlength="20" class="form-control" placeholder="Contact Number" [(ngModel)]="outlet.OutletContactNumber" trim disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-4" *ngFor="let obj of levelInfo">
                            <ng-container *ngIf="obj.LevelName != 'Area'">
                                <label>{{obj.LevelName}}<label style="color:red">*</label></label>
                                <select name="Language" class="form-control selectpicker"
                                        [(ngModel)]="obj.Leveldetail_Id">
                                        <option *ngFor="let DC of obj.leveldetailInfo| filter:'{{obj.LevelName}}'" [value]="DC.Leveldetail_Id">
                                            {{DC.LeveldetailName}}
                                        </option>
                                    </select>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div class="col-xs-5">
                                <button class="btn btn-primary btn-xs" (click)="editSaveTransaction()">Update</button>
                                <button class="btn btn-warning btn-xs" (click)="init()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>