<section class="content-header">
  <h1>
    Country Management
  </h1>
  <ol class="breadcrumb">
    <li><a href="index/dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
    <li><a href="index/dashboard">Settings</a></li>
    <li class="active">Country Management</li>
  </ol>
</section>
<section class="content">
  <div class="box-body" *ngIf="showSearchGrid">
    <button class="btn btn-primary btn-xs" (click)="addCountry()">Add Country</button>
    <button class="btn btn-primary btn-xs" (click)="addUpload()">Bulk Upload</button>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="box" *ngIf="showSearchGrid">
        <div class="box-body">
          <div class="col-xs-1">
            <label>Search</label>
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control" size="100" id="Text17" [(ngModel)]="searchText"
              placeholder="Enter search" trim>
          </div>
        </div>

        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Country</th>
                <th>Language</th>
                <th>Created On</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countryObj | filter:searchText; let i=index;">
                <td class="sorting_1">{{i+1}}</td>
                <td>{{ country.CountryName }}</td>
                <td>{{ country.Language }}</td>
                <td>{{ country.CreationDate | date : 'dd-MMM -yyyy' }}</td>
                <td>

                  <button class="btn btn-success btn-xs" (click)="smsSetup(country.Country_Id)">SMS Setup</button>
                  <button class="btn btn-info btn-xs" (click)="emailTemplate(country.Country_Id,country)">Email
                    Template</button>
                  <button class="btn btn-primary btn-xs" (click)="createLevel(country.Country_Id)">Level</button>
                  <button class="btn btn-primary btn-xs" (click)="createSubLevel(country.Country_Id)">Sub Level</button>
                  <button class="btn btn-primary btn-xs" (click)="tsmMapping(country.Country_Id)">TSM</button>
                  <button class="btn btn-primary btn-xs" (click)="employeeUpload(country.Country_Id)">Country Wise
                    Employee</button>
                  <button class="btn btn-primary btn-xs" (click)="editTransaction(country)">Edit</button>
                  <button class="btn btn-warning btn-xs" (click)="deleteTransaction(country)">Delete</button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="box" *ngIf="showCountryForm">
        <div class="box-body">
          <div class="row">
            <div class="form-group has-feedback">
              <div class="col-xs-4">
                <label>Country<label style="color:red">*</label> </label>
                <input type="text" class="form-control" placeholder="Country" [(ngModel)]="country.CountryName" trim>
              </div>
              <div class="col-xs-4">
                <label>Language<label style="color:red">*</label></label>
                <select name="Language" class="form-control selectpicker" [(ngModel)]="country.Language_Id">
                  <option *ngFor="let language of languageObj" [value]="language.Language_Id">
                    {{language.Language}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="form-group has-feedback">
              <div class="col-xs-5">
                <button class="btn btn-primary btn-xs" (click)="saveForm()">Submit</button>
                <button class="btn btn-warning btn-xs" (click)="init()">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box" *ngIf="showEditForm">
        <div class="box-body">
          <div class="row">
            <div class="form-group has-feedback">
              <div class="col-xs-4">
                <label>Country<label style="color:red">*</label> </label>
                <input type="text" class="form-control" placeholder="Country" [(ngModel)]="country.CountryName" trim>
              </div>
              <div class="col-xs-4">
                <label>Language<label style="color:red">*</label></label>
                <select name="Language" class="form-control selectpicker" [(ngModel)]="country.Language_Id">
                  <option *ngFor="let language of languageObj" [value]="language.Language_Id">
                    {{language.Language}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="form-group has-feedback">
              <div class="col-xs-5">
                <button class="btn btn-primary btn-xs" (click)="editSaveTransaction()">Update</button>
                <button class="btn btn-warning btn-xs" (click)="init()">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>