<div class="row" *ngIf="PERF==true">

    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header">

                <i class="fa fa-cloud"></i>
                <h3 class="box-title">{{TargetVsAchievementLabel}} </h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- bar chart -->
                        <div id="PERF">
                            <canvas id="myChart"></canvas>
                        </div>
                        
                    </div>
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </div>

</div>

<div class="row" *ngIf="PERF==true">
    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header">

                <i class="fa fa-cloud"></i>
                <h3 class="box-title">{{TargetVsAchievementServiceLoadLabel}}</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- bar chart -->
                        <div id="MNTHPERF" bar-chart bar-data="MNTHTGTData" bar-x='Month' bar-y='["SerTarget","SerAch"]'
                            bar-labels='["Target","Achievement"]' bar-colors='["#dd4b39","#00a65a"]' labelTop="true">
                        </div>
                    </div>
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </div>
    <div class="col-md-4">

        <div class="box box-danger">
            <div class="box-header">

                <i class="fa fa-cloud"></i>
                <h3 class="box-title">{{TargetVsAchievementInstantFeedbackLabel}}</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- bar chart -->
                        <div id="Feedback" bar-chart bar-data="IFC" bar-x='Month' bar-y='["SerTarget","SerAch"]'
                            bar-labels='["Target","Achievement"]' bar-colors='["#dd4b39","#00a65a"]' labelTop="true">
                        </div>
                    </div>
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </div>

    <div class="col-md-4">

        <div class="box box-danger">
            <div class="box-header">

                <i class="fa fa-cloud"></i>
                <h3 class="box-title">{{TargetVsAchievementSMRLabel}} </h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- bar chart -->
                        <div id="SMR" bar-chart bar-data="SMRTGTList" bar-x='Month' bar-y='["SerTarget","SerAch"]'
                            bar-labels='["Target","Achievement"]' bar-colors='["#dd4b39","#00a65a"]' labelTop="true">
                        </div>
                    </div>
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </div>

</div>

<div class="row" *ngIf="PERF==true">

    <div class="col-md-4">

        <div class="box box-danger">
            <div class="box-header">

                <i class="fa fa-cloud"></i>
                <h3 class="box-title">{{TargetVsAchievementEmailLabel}} </h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- bar chart -->
                        <div id="Email" bar-chart bar-data="Email" bar-x='Month' bar-y='["SerTarget","SerAch"]'
                            bar-labels='["Target","Achievement"]' bar-colors='["#dd4b39","#00a65a"]' labelTop="true">
                        </div>
                    </div>
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </div>


    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header">

                <i class="fa fa-cloud"></i>
                <h3 class="box-title">{{TargetVsAchievementPSFLabel}} </h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- bar chart -->
                        <div id="PSF" bar-chart bar-data="PSF" bar-x='Month' bar-y='["SerTarget","SerAch"]'
                            bar-labels='["Target","Achievement"]' bar-colors='["#dd4b39","#00a65a"]' labelTop="true">
                        </div>
                    </div>
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </div>

</div>

<div class="row" *ngIf="SMR==true">

    <div class="col-md-6" style="display:none">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Service Due vs Done
                    <select name="Language" class="form-control selectpicker" [ngModel]="searchObj.VehicleId">
                        <!--  <option *ngFor="let vehicle of VehicleObj"  [value]="vehicle.Vehicle_Id">
              {{vehicle.VehicleName}}
            </option> -->
                    </select>
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="progress-group">



                            <div>
                                <button class="btn btn-success btn-xs">Service Due</button>
                                <button class="btn btn-danger btn-xs">Service Done</button>

                            </div>
                            <br />
                            <div class="progress-group" *ngFor="let pt of ServiceDueObj">
                                <span class="progress-text"
                                    style="float: left;margin-right: 10px;">{{pt.ServiceType}}</span>

                                <div class="progress lg">

                                    <div class="progress-bar progress-bar-green"
                                        [ngStyle]="{'width.%':(pt.ServiceDue/(pt.ServiceDue+pt.ServiceDone)*100)}">
                                        <label style="color:white">{{pt.ServiceDue}}
                                            ({{pt.ServiceDue/(pt.ServiceDue+pt.ServiceDone)*100 | number}}%)</label>
                                    </div>
                                    <div class="progress-bar progress-bar-danger"
                                        [ngStyle]="{'width.%':(pt.ServiceDone/(pt.ServiceDue+pt.ServiceDone)*100)}">
                                        <label style="color:white">{{pt.ServiceDone}}
                                            ({{pt.ServiceDone/(pt.ServiceDue+pt.ServiceDone)*100 | number}}%)</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->

            </div>
            <!-- /.box -->
        

        </div>

        <!-- /.box -->
    </div>

    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header">

                <i class="fa fa-cloud"></i>
                <h3 class="box-title">{{ServiceCallDueVsServiceDoneLabel}} </h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- bar chart -->
                        <div id="SMR">
                            <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </div>
</div>

<div class="row" *ngIf="Survey==true">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{QuestionWiseRatingLabel}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <a href="" (click)="showDetail()">
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-md-12">
                            <div class="progress-group">




                                <br />
                                <div class="progress-group" *ngFor="let pt of QuestionSatisfactionObj;  let i=index">

                                    <span *ngIf="selectedLang==2" class="progress-text">{{i+1}}.{{pt.Question}}</span>
                                    <span *ngIf="selectedLang!=2"
                                        class="progress-text">{{i+1}}.{{pt.TranslatedQuestion}}</span>
                                    <span class="progress-number"><b>{{pt.Avg}}</b>/10</span>
                                    <div class="progress sm">

                                        <div class="progress-bar progress-bar-green" [ngStyle]="{'width.%':pt.Avg*10}">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </a>
                <!-- ./box-body -->

            </div>
            <!-- /.box -->

        </div>

        <!-- /.box -->
    </div>
    <div class="col-md-6">

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{SatisfiedvsDissatisfiedCustomersLabel}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <!--smiley customers-->

            <div class="box-body">
                <ul class="smiley-ul" style="margin: 2px auto;">
                    <li>
                        <a class="toselect selected">
                            <span class="smiley-bg delighted"></span>
                            {{HighlySatisfiedLabel}}
                        </a>
                        <input class="form-control" type="text" [value]="RatingAnalysis.HighlySatisfied"
                            style="border-radius: 20px;FONT-WEIGHT: 600;width: 70px;text-align: center;display: block;margin: 5px auto 15px;">
                        <label
                            style="border-radius: 20px;FONT-WEIGHT: 600;width: 70px;text-align: center;display: block;margin: 5px auto 15px;padding:6px;border:1px solid lightgrey;">{{(RatingAnalysis.HighlySatisfied/(RatingAnalysis.HighlySatisfied
                            + RatingAnalysis.Satisfied + RatingAnalysis.Average + RatingAnalysis.Poor)) *100 |
                            number}}%</label>
                    </li>
                    <li>
                        <a class="toselect selected">
                            <span class="smiley-bg satisfied"></span>
                            {{SATISFIEDLabel}}
                        </a>
                        <input class="form-control" type="text" [value]="RatingAnalysis.Satisfied"
                            style="border-radius: 20px;FONT-WEIGHT: 600;width: 70px;text-align: center;display: block;margin: 5px auto 15px;">
                        <label
                            style="border-radius: 20px;FONT-WEIGHT: 600;width: 70px;text-align: center;display: block;margin: 5px auto 15px;padding:6px;border:1px solid lightgrey;">{{(RatingAnalysis.Satisfied/(RatingAnalysis.HighlySatisfied
                            + RatingAnalysis.Satisfied + RatingAnalysis.Average + RatingAnalysis.Poor)) *100 |
                            number}}%</label>
                    </li>
                    <li>
                        <a class="toselect selected">
                            <span class="smiley-bg average"></span>
                            {{DISSATISFIEDLabel}}
                        </a>
                        <input class="form-control" type="text" [value]="RatingAnalysis.Average"
                            style="border-radius: 20px;FONT-WEIGHT: 600;width: 70px;text-align: center;display: block;margin: 5px auto 15px;">
                        <label
                            style="border-radius: 20px;FONT-WEIGHT: 600;width: 70px;text-align: center;display: block;margin: 5px auto 15px;padding:6px;border:1px solid lightgrey;">{{(RatingAnalysis.Average/(RatingAnalysis.HighlySatisfied
                            + RatingAnalysis.Satisfied + RatingAnalysis.Average + RatingAnalysis.Poor)) *100 |
                            number}}%</label>
                    </li>
                    <li>
                        <a class="toselect selected">
                            <span class="smiley-bg poor"></span>
                            {{HighlyDissatisfiedLabel}}
                        </a>
                        <input class="form-control" type="text" [value]="RatingAnalysis.Poor"
                            style="border-radius: 20px;FONT-WEIGHT: 600;width: 70px;text-align: center;display: block;margin: 5px auto 15px;">
                        <label
                            style="border-radius: 20px;FONT-WEIGHT: 600;width: 70px;text-align: center;display: block;margin: 5px auto 15px;padding:6px;border:1px solid lightgrey;">{{(RatingAnalysis.Poor/(RatingAnalysis.HighlySatisfied
                            + RatingAnalysis.Satisfied + RatingAnalysis.Average + RatingAnalysis.Poor)) *100 |
                            number}}%</label>
                    </li>
                </ul>
            </div>
            <!--./msiley-->

        </div>
        <!-- BAR CHART -->

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{SurveyAnalysisLabel}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">

                        <div class="progress-group">
                            <span class="progress-text">{{SURVEYCOMPLETEDLabel}}</span>
                            <span
                                class="progress-number"><b>{{countersDtl.SurveyCompltedCount}}</b>/{{countersDtl.ServiceDone}}</span>
                            <div class="progress lg">
                                <div class="progress-bar progress-bar-aqua"
                                    [ngStyle]="{'width.%':countersDtl.SurveyCompltedCount/(countersDtl.ServiceDone)*100}">
                                    {{countersDtl.SurveyCompltedCount/(countersDtl.ServiceDone)*100 | number}}%</div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">{{SurveysubmittedviaSMSLabel}}</span>
                            <span
                                class="progress-number"><b>{{countersDtl.SurveySubmittedViaSms}}</b>/{{countersDtl.SurveyCompltedCount}}</span>
                            <div class="progress lg">
                                <div class="progress-bar progress-bar-red"
                                    [ngStyle]="{'width.%':countersDtl.SurveySubmittedViaSms/countersDtl.SurveyCompltedCount*100}">
                                    {{countersDtl.SurveySubmittedViaSms/countersDtl.SurveyCompltedCount*100 | number}}%
                                </div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">{{SurveysubmittedviaMailLabel}}</span>
                            <span
                                class="progress-number"><b>{{countersDtl.SurveySubmittedViaEmail}}</b>/{{countersDtl.SurveyCompltedCount}}</span>
                            <div class="progress lg">
                                <div class="progress-bar progress-bar-green"
                                    [ngStyle]="{'width.%':countersDtl.SurveySubmittedViaEmail/countersDtl.SurveyCompltedCount*100}">
                                    {{countersDtl.SurveySubmittedViaEmail/countersDtl.SurveyCompltedCount*100 |
                                    number}}%</div>
                            </div>
                        </div>

                        <div class="progress-group">
                            <span class="progress-text">{{SurveysubmittedviaTelephonicLabel}}</span>
                            <span
                                class="progress-number"><b>{{countersDtl.SurveySubmittedTelephonic}}</b>/{{countersDtl.SurveyCompltedCount}}</span>
                            <div class="progress lg">
                                <div class="progress-bar progress-bar-green"
                                    [ngStyle]="{'width.%':countersDtl.SurveySubmittedTelephonic/countersDtl.SurveyCompltedCount*100}">
                                    {{countersDtl.SurveySubmittedTelephonic/countersDtl.SurveyCompltedCount*100 |
                                    number}}%</div>
                            </div>
                        </div>



                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./box-body -->

        </div>
        <!-- /.box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{MonthwiseCustomerSatisfactionTrendLabel}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="progress-group">
                            <div>
                                <button class="btn btn-success btn-xs"
                                    style="cursor:default;background: #00a65a;outline: 0;box-shadow: none;">{{HighlySatisfiedLabel}}</button>
                                <button class="btn btn-warning btn-xs"
                                    style="cursor:default;background: #d58512;outline: 0;box-shadow: none;">{{SATISFIEDLabel}}</button>
                                <button class="btn btn-info btn-xs"
                                    style="cursor:default;background: #269abc;outline: 0;box-shadow: none;">{{DISSATISFIEDLabel}}</button>
                                <button class="btn btn-danger btn-xs"
                                    style="cursor:default;background: #ac2925;outline: 0;box-shadow: none;">{{HighlyDissatisfiedLabel}}</button>
                            </div>
                            <br />
                            <div class="progress-group" *ngFor="let pt of SatisfactionObj">
                                <span class="progress-text"
                                    style="float: left;margin-right: 10px;width:62px">{{pt.Month}}</span>

                                <div class="progress lg">
                                    <div *ngFor="let item of pt.info">
                                        <div class="progress-bar progress-bar-green" ng-show="item.Answer=='10'"
                                            [ngStyle]="{'width.%':item.Avg}"><label
                                                style="color:white">{{item.CustomerCount}} ({{item.Avg |
                                                number}})%</label></div>
                                        <div class="progress-bar progress-bar-warning"
                                            ng-show="item.Answer=='Satisfied'" [ngStyle]="{'width.%':item.Avg}"><label
                                                style="color:white">{{item.CustomerCount}}({{item.Avg |
                                                number}})%</label></div>
                                        <div class="progress-bar progress-bar-info"
                                            ng-show="item.Answer=='Dissatisfied'" [ngStyle]="{'width.%':item.Avg}">
                                            <label style="color:white">{{item.CustomerCount}}({{item.Avg |
                                                number}})%</label>
                                        </div>
                                        <div class="progress-bar progress-bar-danger"
                                            ng-show="item.Answer=='Highly Dissatisfied'"
                                            [ngStyle]="{'width.%':item.Avg}"><label
                                                style="color:white">{{item.CustomerCount}}({{item.Avg |
                                                number}})%</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->

            </div>
            <!-- /.box -->
        </div>
        <!-- /.box -->
        <div class="clear" style="clear: both;"></div>
        <!-- Info Boxes Style 2 -->
        <!-- /.info-box -->
        <!-- /.info-box -->
        <!-- /.info-box -->
    </div>
<!-- /.col -->
</div>

<div class="row" *ngIf="Survey==true">

    <div class="col-md-6" style="display:none">
        <div class="box box-danger">
            <div class="box-header">
                <i class="fa fa-cloud"></i>
                <h3 class="box-title">Question Wise Score </h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <a href="" (click)="showDetail()">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- bar chart -->
                            <div id="survey" bar-chart bar-data="QuestionSatisfactionObj" bar-x='QuestionIndex'
                                bar-y='["Avg"]' bar-labels='["Avg. Raiting"]' bar-colors='["#4D4B79"]'>
                            </div>
                        </div>
                    </div><!-- /.row - inside box -->
                </a>
            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </div>

    <div style="display:none" class="col-md-6" hidden="Role=='HOAdmin'">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Country Wise Satisfaction Level</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin" style="height:338px;">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th class="text-center">Satisfied(%)</th>
                                <th class="text-center">Dis-Satisfied(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <!--  </tbody> -->

                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    <div class="col-md-6" style="display:none">
        <!-- /.box -->
        <!--Chart Question Wise-->
        <div class="box box-danger">
            <div class="box-header">

                <i class="fa fa-cloud"></i>
                <h3 class="box-title">Question Wise Rating </h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <!--<div class="col-sm-6">
                        <div id="stacked"></div>
                    </div>-->
                    <div class="col-sm-12">
                        <!-- bar chart -->

                        <div id="bar-chart"></div>
                    </div>
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->
        <!--Chart Question Wise-->
        <!-- BAR CHART -->
        <!-- /.box-body -->
    </div>
</div>


<div class="row" *ngIf="Instant==true">

    <div class="col-md-6" style="display:none">
        <div class="box box-danger">
            <div class="box-header">

                <i class="fa fa-cloud"></i>
                <h3 class="box-title">Question Wise Score </h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <a href="" (click)="showFeedbackDetail()">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- bar chart -->
                            <div id="instant" bar-chart bar-data="InsQuestionSatisfactionObj" bar-x='QuestionIndex'
                                bar-y='["Avg"]' bar-labels='["Avg. Raiting"]' bar-colors='["#4D4B79"]' labelTop="true">
                            </div>
                        </div>
                    </div><!-- /.row - inside box -->
                </a>
            </div><!-- /.box-body -->

        </div><!-- /.box -->

    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{QuestionWiseRatingLabel}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <a href="" (click)="showFeedbackDetail()">
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-md-12">
                            <div class="progress-group">




                                <br />
                                <div class="progress-group" *ngFor="let pt of InsQuestionSatisfactionObj; let i=index">


                                    <span *ngIf="selectedLang==2" class="progress-text">{{i+1}}.{{pt.Question}}</span>
                                    <span *ngIf="selectedLang!=2"
                                        class="progress-text">{{i+1}}.{{pt.TranslatedQuestion}}</span>

                                    <span class="progress-number"><b>{{pt.Avg}}</b>/10</span>
                                    <div class="progress sm">

                                        <div class="progress-bar progress-bar-green" [ngStyle]="{'width.%':pt.Avg*10}">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </a>
                <!-- ./box-body -->

            </div>
            <!-- /.box -->

        </div>

        <!-- /.box -->
    </div>

    <!-- /.col -->
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{SurveyAnalysisLabel}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">

                        <div class="progress-group">
                            <span class="progress-text">{{FeedbackCapturedLabel}}</span>
                            <span
                                class="progress-number"><b>{{countersDtl.SurveySubmittedInstant}}</b>/{{countersDtl.ServiceDone}}</span>
                            <div class="progress lg">
                                <div class="progress-bar progress-bar-aqua"
                                    [ngStyle]="{'width.%':countersDtl.SurveySubmittedInstant/(countersDtl.ServiceDone)*100}">
                                    {{countersDtl.SurveySubmittedInstant/(countersDtl.ServiceDone)*100 | number}}%</div>
                            </div>
                        </div>
                        <ul class="smiley-ul" style="margin: 2px auto;">
                            <li style="width:49%">
                                <a class="toselect selected">
                                    <span class="smiley-bg delighted"></span>
                                    {{SATISFIEDLabel}}
                                </a>
                                <input class="form-control" type="text" [value]="countersDtl.SatisfiedInsFeedback"
                                    style="border-radius: 20px;FONT-WEIGHT: 600;width: 60px;text-align: center;display: block;margin: 5px auto 15px;">
                                <label
                                    style="border-radius: 20px;FONT-WEIGHT: 600;width: 60px;text-align: center;display: block;margin: 5px auto 15px;padding:6px;border:1px solid lightgrey;">{{(countersDtl.SatisfiedInsFeedback/(countersDtl.SatisfiedInsFeedback
                                    + countersDtl.DisSatisfiedInsFeedback)) *100 | number }}%</label>
                            </li>

                            <li style="width:49%">
                                <a class="toselect selected">
                                    <span class="smiley-bg poor"></span>
                                    {{DISSATISFIEDLabel}}
                                </a>
                                <input class="form-control" type="text" [value]="countersDtl.DisSatisfiedInsFeedback"
                                    style="border-radius: 20px;FONT-WEIGHT: 600;width: 60px;text-align: center;display: block;margin: 5px auto 15px;">
                                <label
                                    style="border-radius: 20px;FONT-WEIGHT: 600;width: 60px;text-align: center;display: block;margin: 5px auto 15px;padding:6px;border:1px solid lightgrey;">{{(countersDtl.DisSatisfiedInsFeedback/(countersDtl.SatisfiedInsFeedback
                                    + countersDtl.DisSatisfiedInsFeedback)) *100 | number }}%</label>
                            </li>
                        </ul>
                       
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./box-body -->

        </div>
        <!-- /.box -->

    </div>

    <!-- /.col -->

    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{MonthwiseCustomerSatisfactionTrendLabel}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="progress-group">

                            <div>
                                <button class="btn btn-success btn-xs"
                                    style="cursor:default;background: #00a65a;outline: 0;box-shadow: none;">{{SATISFIEDLabel}}</button>
                                <button class="btn btn-danger btn-xs"
                                    style="cursor:default;background: #dd4b39;outline: 0;box-shadow: none;">{{DISSATISFIEDLabel}}</button>

                            </div>
                            <br />
                            <div class="progress-group" *ngFor="let pt of InsSatisfactionObj">
                                <span class="progress-text"
                                    style="float: left;margin-right: 10px;width:62px">{{pt.FeedMonth}}</span>

                                <div class="progress lg">
                                    <div *ngFor="let item of pt.Dtl">
                                        <div class="progress-bar progress-bar-green"
                                            hidden="item.FinalStatus=='Satisfied'" [ngStyle]="{'width.%':item.Avg}">
                                            <label style="color:white">{{item.MonthWiseCount}} ({{item.Avg |
                                                number}}%)</label>
                                        </div>
                                        <div class="progress-bar progress-bar-danger"
                                            hidden="item.FinalStatus=='Dissatisfied'" [ngStyle]="{'width.%':item.Avg}">
                                            <label style="color:white">{{item.MonthWiseCount}} ({{item.Avg |
                                                number}}%)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->

            </div>
            <!-- /.box -->
        </div>

        <!-- /.box -->
    </div>

</div>